{# templates/chat/chat.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Hello ChatController!{% endblock %}

{% block body %}

<div class="container">
    <h1>Chat with {{ user }}</h1>
    <div class="chat-box">
        {% for message in messages %}
            <div class="message">
                <strong>{{ message.sender }}:</strong> {{ message.message }} <em>{{ message.timestamp|date('Y-m-d H:i:s') }}</em>
            </div>
        {% else %}
            <div class="message">No messages found.</div>
        {% endfor %}
    </div>

    {{ form_start(form) }}
        <div class="row">
            <div class="col-2">{{ form_label(form.receiver) }}</div>
            <div class="col-2">{{ form_widget(form.receiver) }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2">{{ form_label(form.message) }}</div>
            <div class="col-2">{{ form_widget(form.message) }}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </div>
    {{ form_end(form) }}
</div>

{% endblock %}

